language: objective-c
xcode_project: YetAnotherHTTPStub.xcodeproj
xcode_scheme: YetAnotherHTTPStub
osx_image: xcode8.3

cache:
  directories:
    - build
    - Carthage

before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - carthage update --platform iOS --cache-builds

env:
  - XCODE_SCHEME=YetAnotherHTTPStub
  - XCODE_SCHEME=Example

script: 
  - xcodebuild -list -project YetAnotherHTTPStub.xcodeproj
  - set -o pipefail && xcodebuild -project YetAnotherHTTPStub.xcodeproj -scheme $XCODE_SCHEME -sdk iphonesimulator -destination "name=iPhone SE" clean build-for-testing test | xcpretty
